
body{
    background-color: #5b197b;
}

#titulo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

#QueEs{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
